.job-actions{
    padding: 10px;
}
.jobs-header {
    cursor: pointer;
}

.page{
    float: left;
    padding: 3px 6px;
    background-color: #e3e3e3;
    border: 1px solid #bcc760;
    border-radius: 4px;
    margin-right: 2px;
    cursor: pointer;
}

.current-page{
    background-color: #adaeac !important;
}

.prev,.next {
    padding: 6px 6px !important;
}

.DESC:after{
    content: "\f0dd";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 5px;
}
.ASC:after {
    content: "\f0de";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 5px;
}
.table-header{
    cursor: pointer;
}
.settings {
    padding: 5px;
}
.settings input[type=text] {
    width: 100%;
    display: block;
    padding: 3px;
}
.settings textarea{
    width: 100%;
    height: 200px;
    display: block;
    padding: 3px;
}

.setting {
    padding: 10px;
    border: 1px solid #adaeac;
    border-radius: 5px;
    background-color: #edebeb;
    margin: 5px;
    /*height: 450px;*/
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.37);
    -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.37);
    box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.37);
}
.header{
    border: 1px solid #adaeac;
    border-radius: 5px;
    background-color: #e3e3e3;
    padding: 10px;
}
.proxies,.useragents,.exclude-domains{
    padding: 5px;
}
#useragents {
    width: 100%;
    height: 70%;
}
#proxies {
    width: 300px;
    height: 500px;
}
#exclude_domains{
    width: 300px;
    height: 500px;
}
.margin-top-7{
    margin-top: 7px;
}

.input-30 {
    width: 30px;
    padding: 2px;
}
.input-50 {
    width: 50px;
    padding: 2px;
}
.input-70 {
    width: 70px;
    padding: 2px;
}
.block {
    display: block;
}
.padding-2 {
    padding: 2px;
}
.padding-5 {
    padding: 5px;
}
.padding-10{
    padding: 10px;
}
/*#fileJob{
    opacity:0;
    filter:alpha(opacity:0);
}*/
.margin-left-5{
    margin-left: 5px;
}


.add-new-job{
    border: 1px solid #b9b9b9;
    border-radius: 0 0 10px 10px;
    background-color: #edebeb;
    padding: 5px;
}
.list-urls{
    display: block;
    width: 100%;
    height: 250px;
}
.width-100pr{
    width: 100%;
}
.pages_info{
    padding: 5px;
}
.processes td:nth-child(1){
    font-weight: bold;
}

.fa-chevron-down-after:after{
    content:"\f078";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 5px;
}
.slide-processes,.slide-crawlers{
    cursor: pointer;
}
.stop{
    background:#d9534f;
}
.skip_tlds{
    height: 110px !important; 
}